Repository gjellerup1857/abbv: changes, and which GitLab CI jobs are due for each by the changed paths.
All: adblock, adblockplus

.gitlab-ci.yml:

default:
  tags:
    - "GCP"

stages:
  - hostpipeline

adblock:
  stage: hostpipeline
  rules:
    - changes:
        - host/adblock/**/*
  trigger:
    include:
      - local: 'host/adblock/.gitlab-ci.yml'
        inputs:
          hostpath: 'host/adblock'
    strategy: depend
    forward:
      pipeline_variables: true

adblockplus:
  stage: hostpipeline
  rules:
    - changes:
        - host/adblockplus/**/*
  trigger:
    include:
      - local: 'host/adblockplus/.gitlab-ci.yml'
        inputs:
          hostpath: 'host/adblockplus'
    strategy: depend
    forward:
      pipeline_variables: true

A test change. This should only build for adblockplus, not adblock
  host/adblockplus/README.md
Due: adblockplus

A test change. This should only build for adblock, not adblock plus
  host/adblock/README.md
Due: adblock

Testing ABP's host path mechanism
  host/adblockplus/.gitlab-ci.yml
Due: adblockplus

Changes in both should do builds for both
  host/adblock/README.md
  host/adblockplus/README.md
Due: adblock, adblockplus

Ignore node_modules
  .gitignore
Due: none

update messages and locales
  host/adblock/_locales/ar/messages.json
  host/adblock/_locales/de/messages.json
  host/adblock/_locales/it/messages.json
  host/adblock/_locales/ja/messages.json
  host/adblock/_locales/nl/messages.json
  host/adblock/_locales/pl/messages.json
  host/adblock/_locales/tr/messages.json
  host/adblock/_locales/zh_CN/messages.json
  host/adblock/_locales/zh_TW/messages.json
  host/adblock/adblock-betafish/alias/prefs.js
Due: adblock

build: Generate build files in CI according to release workflow [EXT-66]
  .env.defaults
  .gitlab-ci.yml
  README.md
  adblockpluschrome/lib/subscriptionInit.js
  build/webext/utils/git.mjs
  gulpfile.mjs
  src/error-reporter/background/sentry.ts
  src/webpackDotenvPlugin.d.ts
Due: none

remove debug statements, fix variable names and comments
  host/adblock/adblock-betafish/alias/prefs.js
  host/adblock/adblock-betafish/onpage-dialog/background/tab-manager.ts
  host/adblock/src/yt-wall-detection/background/detection.ts
Due: adblock

fix style issues
  host/adblock/adblock-betafish/alias/prefs.js
  host/adblock/adblock-betafish/onpage-dialog/background/dialog.ts
  host/adblock/adblock-betafish/onpage-dialog/background/timing.types.ts
  host/adblock/src/core/url/shared/url.ts
Due: adblock

revert eslint format changes
  host/adblock/adblock-betafish/alias/prefs.js
Due: adblock

use new URL module
  host/adblock/adblock-betafish/adblockplus-core.d.ts
  host/adblock/adblock-betafish/ipm/background/param-validator.ts
Due: adblock

fix Prefs keys
  host/adblock/adblock-betafish/alias/prefs.js
  host/adblock/adblock-betafish/debug/background/constants.js
Due: adblock

revert comment change, update function based on review feedback
  host/adblock/adblock-betafish/polyfills/background/polyfill.types.ts
  host/adblock/src/yt-wall-detection/background/detection.ts
Due: adblock

update the perference usage so duplicates are not required
  host/adblock/adblock-betafish/alias/prefs.js
  host/adblock/src/yt-wall-detection/background/detection.ts
Due: adblock

build: remove optimize assets scripts [EE 756]
  build/icons-generation/index.js
  package-lock.json
  package.json
Due: none

feat: add manifest version to sentry error metadata [EXT-130]
  eslint/standard.js
  src/error-reporter/background/sentry.ts
Due: none

feat: Update @eyeo/webext-ad-filtering-solution to version 1.11.0 [EXT-142]
  host/adblock/package-lock.json
  host/adblock/package.json
Due: adblock

feat: Update @eyeo/webext-ad-filtering-solution to version 1.11.0 [EXT-141]
  package-lock.json
  package.json
  test/end-to-end/page-objects/advanced.page.js
Due: none

ci: More required cd hostpath instances for lesser run jobs. [Refs: EXT-53]
  .gitlab-ci.yml
Due: none

test: Support regex in build path for e2e tests [noissue]
  test/end-to-end/helpers.js
Due: none

feat: Add parent-child initial config [Refs EXT-53]
  .gitlab-ci.yml
Due: none

test: Use env variables to define builds to run the tests [noissue]
  .env.e2e.template
  .gitlab-ci.yml
  test/end-to-end/helpers.js
Due: none

ci: remove adblock rule on compliance jobs [noissue]
  .gitlab-ci.yml
  host/adblock/.gitlab-ci.yml
Due: adblock

ci: Run E2E smoke tests on docker [Fixes EXT-48]
  .dockerignore
  .env.e2e.template
  .gitlab-ci.yml
  README.md
  src/info/background/info.chrome.ts
  test/end-to-end/Dockerfile
  test/end-to-end/helpers.js
  test/end-to-end/local-test.conf.js
  test/end-to-end/page-objects/general.page.js
  test/end-to-end/page-objects/heartDialog.chunk.js
  test/end-to-end/page-objects/popup.page.js
  test/end-to-end/test-data/data-links.js
  test/end-to-end/test-data/data-page-links.js
  test/end-to-end/test-data/data-smoke-tests.js
  test/end-to-end/tests/smoke-main/ad-filtering.js
  test/end-to-end/tests/smoke-main/extension.js
  test/end-to-end/tests/smoke-main/uninstall-default.js
Due: none

feat: Parameterize the repo import script to allow merging other repos [EE-655]
  scripts/repo-importer.sh
Due: none

Fix last few working dir issues for migration
  host/adblockplus/.gitlab-ci.yml
Due: adblockplus

build: Updated @eyeo/snippets dependency to 1.4.1 [EXT-136]
  host/adblock/package-lock.json
  host/adblock/package.json
Due: adblock

fix: Move the 'received' event recording [IM-108]
  host/adblock/adblock-betafish/onpage-dialog/background/tab-manager.ts
Due: adblock

feat: Add Readership Link public key to Bypass API [EXT-30][EXT-28]
  host/adblock/adblock-betafish/alias/prefs.js
  host/adblock/adblock-betafish/allowlisting.js
  host/adblock/adblock-betafish/picreplacement/check.js
Due: adblock

Experiment with not having the rules or variable for hostpath
  .gitlab-ci.yml
Due: none

Put more artifacts for debugging
  host/adblockplus/.gitlab-ci.yml
Due: adblockplus

build: Releasing AdBlock 6.8.0 [noissue]
  host/adblock/adblock-betafish/CHANGELOG.txt
  host/adblock/build/config/base.mjs
  host/adblock/package-lock.json
  host/adblock/package.json
Due: adblock

update comment
  host/adblock/adblock-betafish/onpage-dialog/background/tab-manager.ts
Due: adblock

remove debug statement
  host/adblock/adblock-betafish/onpage-dialog/background/tab-manager.ts
Due: adblock

test: Use the chrome object instead of browser to uninstall the extension [Refs EXT-153]
  host/adblockplus/test/end-to-end/helpers.js
  host/adblockplus/test/end-to-end/tests/smoke-main/uninstall-default.js
  host/adblockplus/test/end-to-end/tests/test-smoke-uninstall-custom.js
Due: adblockplus

remove assignedIPMIds, fix handleTabRemoveEvent
  host/adblock/adblock-betafish/onpage-dialog/background/tab-manager.ts
Due: adblock
